.o_hr_holidays_hierarchy {
    overflow-x: auto;

    .o_hr_holidays_plan_level_container {

        .o-kanban-button-new {
            margin-left: 107px;
            margin-top: 24px;
        }

        .o_kanban_renderer {
            --Kanban-gap: 0;
        }

        .o_kanban_renderer.o_kanban_ungrouped .o_kanban_record {
            display: flex;
            flex: 0 0 100%;
            border: 0px;
            margin: 0px 0px 0px 0px;
            background-color: transparent;

            // Whole record
            .o_hr_holidays_body {

                // Left side 'Level'
                .o_hr_holidays_timeline {
                    width: 90px;
                }

                .o_hr_holidays_card_inner {
                    // Circle
                    &:after {
                        content: '';
                        @include o-position-absolute($top: $font-size-base * .5, $left: -28px);
                        width: .5rem;
                        height: .5rem;
                        border-radius: $border-radius-pill;
                        background: $o-gray-400;
                        outline: 8px solid $o-view-background-color;
                    }

                    // Timeline Border
                    &:before {
                        content: '';
                        @include o-position-absolute($left:-((map-get($spacers, 5) * .5) + ($border-width * .5)));
                        height: 100%;
                        border-left: $border-width solid $border-color;
                    }
                }
            }
        }
    }
}
.o_radio_item .o_form_label {
    font-weight: normal;
}
